<% @posts.each do |post| %>    
  <div class='post_container'>
    <h2><%= post.title %></h2> 
    <%= post.text %>
    <div>
      Likes: #<%= post.likes_count %>
      Comments: #<%= post.comments_count %>
    </div>
  </div>
  <%= render "comments", comments: post.show_recent_comments %>
  <%= link_to 'Add Comment', new_user_post_comment_path(post_id: post.id), class: 'btn' %>

<% end %>