<h1>Posts List</h1>
<div class= 'user_profile'>
      <%= image_tag(@user.photo, :size => "80x110", :alt => "Example Image", :title => "Example") %>
      <h2><%= @user.name %></h2> 
      <%= @user.posts_count %>
    </div> 
  <% @posts.each do |post| %>
  <%# <%= user.photo%>
    
    <div>
      <h2><%= post.title %></h2> 
      <%= post.text %>
    </div>
    <div>
      Likes: #<%= post.likes_count %>
      Comments: #<%= post.comments_count %>
    </div> 
    <%# link_to  %>
  <% end %>