
<div class='posts_container'>
  <div class = 'post_detail'>
  <h1> <%= @post.title %> by <%= @user.name%>  </h1>
    <div class='likes_comments_count_right'>
      <span>Likes: <span class ='rev'><%= @post.likes_count %></span></span>
      <span>Comments: <span class ='rev'><%= @post.comments_count %></span></span>
    </div>
    <p> <%= @post.text %></p>
  </div>
  <%= render "comments", comments: @comments %> 
  
  <div class= 'container_footer'>
  
    <%= link_to 'Add Comment', new_user_post_comment_path(post_id: @post.id), class: 'btn' %>

    <% like_status = liked?(@user,@post) %>
    <%= button_to "#{ like_status ? 'Liked': 'Like' }", user_post_likes_path(current_user, @post), method: :post , class: "#{like_status ? 'btn disabled' : 'btn' }" %>
  </div>
</div>