<div class='post-card'>
  <div class='post-header'>
    <h2>"<%= @post.title %>" by: <%= User.find(@post.author_id).name %></h2>
    <div class='likes-comments'>
      <p>Comments: <%= @post.comments_count.nil? ? 0 : @post.comments_count %></p>
      <p>Likes: <%= @post.likes_count.nil? ? 0 : @post.likes_count %></p>
    </div>
  </div>
<p><%= @post.text %></p>
</div>